.ptb {
  padding: 64px 0;
}
.container, .containerSmall {
  width: 90%;
  margin: 0 auto;
}
.containerSmall {
  max-width: 760px;
}
.container {
  max-width: 1000px;
}

@media screen and (min-width: 768px) {
  .ptb {
    padding: 96px 0;
  }
}