.bg {
  padding: 40px 0;
  background: var(--color-bg-primary-light) center / auto url("/bg-pattern-kv.png");
  border-bottom: 2px solid var(--color-border-primary);
}
.body {
  max-width: 550px;
  text-align: center;
}
.text {
  padding-left: 0.05em;
  color: var(--color-font-primary);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: .05em;
}
.text02 {
  margin-top: 8px;
  padding-left: .1em;
  color: var(--color-font-black);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.4;
}
.text span,
.text02 span {
  display: inline-block;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  max-width: 480px;
  margin: 24px auto 0;
}
.item {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-white);
  font-size: 14px;
  line-height: 1;
}
.sigin {
  max-width: 380px;
  margin: 32px auto 0;
}

@media screen and (min-width: 768px) {
  .bg {
    padding: 56px 0;
  }
  .inner {
    display: grid;
    grid-template-columns: 1fr 380px;
    align-items: center;
  }
  .body {
    text-align: left;
  }
  .text {
    padding-left: 0;
  }
  .text02 {
    margin-top: 0;
    padding-left: 0;
    font-size: 38px;
  }
  .list {
    justify-content: flex-start;
    margin: 32px 0 0 0;
  }
  .sigin {
    margin: 0;
  }
}