.title {
  color: var(--color-font-primary);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}
.body {
  margin-top: 12px;
  padding: 16px;
  border: 2px solid var(--color-border-gray);
  border-radius: 16px;
  background-color: var(--color-bg-white);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.label {
  font-weight: bold;
  line-height: 1;
}
.text {
  margin-top: 8px;
}
.input {
  height: 45px;
}
.checkbox {
  display: flex;
  justify-content: center;
}
.button {
  width: 100%;
  height: 45px;
}

@media screen and (min-width: 500px) {
  .body {
    padding: 32px 40px;
  }
}