.item {
  padding: 40px 0;
  border-top: 1px solid var(--color-border-gray);
}
.item:last-child {
  border-bottom: 1px solid var(--color-border-gray);
}
.image img {
  box-shadow: rgba(106, 106, 106, .2) 0px 7px 25px 0px;
}
.body {
  margin-top: 24px;
}
.number {
  color: var(--color-font-primary);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1em;
}
.title {
  color: var(--color-font-primary);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
}
.desc {
  margin-top: 8px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
  }
  .desc {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1080px) {
  .item {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 40px;
  }
  .image {
    max-width: 600px;
    margin-left: auto;
    order: 1;
  }
  .body {
    margin-top: 0;
  }
}