.item {
  padding: 24px 0;
  border-top: 1px solid var(--color-border-gray);
}
.item:last-child {
  border-bottom: 1px solid var(--color-border-gray);
}
.text {
  display: flex;
  align-items: baseline;
}
.text::before {
  content: "Q";
  display: grid;
  place-items: center;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  margin-right: 8px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
}
.question {
  font-weight: bold;
}
.question::before {
  content: "Q";
  background-color: var(--color-bg-primary);
}
.answer {
  margin-top: 8px;
}
.answer::before {
  content: "A";
  color: var(--color-font-primary);
  border: 1px solid var(--color-border-primary);
}
.text a {
  color: var(--color-font-link);
  display: inline;
}
.text span {
  display: block;
}

@media screen and (min-width: 768px) {
  .answer {
    margin-top: 12px;
  }
}