.title {
  color: var(--color-font-primary);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .05em;
}
.titleCenter {
  padding-left: .05em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}